<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Page 2</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header>
            <h1>Page 2</h1>
        </header>

        <p><a href="index.html">Back to Index</a></p>


        <figure>
            <img src="images/ArtiButternut.jpg" alt="arti with a butternut squash">
            <figcaption>Arti with a Butternut Squash</figcaption>
        </figure>


        <footer>
            <address>&copy; 2023 Wendi Jollymore</address>
        </footer>
    </body>
</html>