<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Circles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1>Circles</h1>
    </header>
    
    <main>
      <p>Circle with radius=<%=circle.radius%></p>
      <p>Circumference: <%=circle.circumference.toFixed(2)%></p>
      <p>Area: <%=circle.area.toFixed(2)%></p>
    </main>
    
    <footer>
      <address>&copy; 2023 Wendi Jollymore</address>
    </footer>
  </body>
</html>