<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Index Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <h1>Index Page</h1>
		<!-- this is using EJS -->
    <h2>Menu for <%=day%></h2>
  </header>

  <main>
    <% for (let m in menu) { %>
      <h3><%=m%></h3>
      <p><%=menu[m]%></p>
    <% } %>
  </main>

  <footer>
    <address>&copy; 2023 Firstname Lastname</address>
  </footer>
</body>

</html>