<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>World Countries</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header>
    <h1>World Countries</h1>
  </header>

  <main>
   
    <table>
      <caption>World Countries</caption>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Continent</th>
        <th>Region</th>
      </tr>
      <% world.forEach((country) => { %>
        <tr>
          <td><%= country.Code %></td>
          <td><%= country.Name %></td>
          <td><%= country.Continent %></td>
          <td><%= country.Region %></td>
        </tr>
      <% }) %>
    </table>
  </main>

  <footer>
    <address>&copy; 2023 Wendi Jollymore</address>
  </footer>
</body>

</html>